<html>

    <body>
        <form action="/predict" method="post">
            <input type="number" name = 'CreditScore' placeholder="CreditScore" required = 'required' />
            <input type="number" name = 'Age' placeholder="Age" required = 'required' />
            <input type="number" name = 'Tenure' placeholder="Tenure" required = 'required' />
            <input type="number" name = 'Balance' placeholder="Balance" required = 'required' />
            <input type="number" name = 'NumOfProducts' placeholder="NumOfProducts" required = 'required' />
            <input type="number" name = 'HasCrCard' placeholder="HasCrCard" required = 'required' />
            <input type="number" name = 'IsActiveMember' placeholder="IsActiveMember" required = 'required' />
            <input type="number" name = 'EstimatedSalary' placeholder="EstimatedSalary" required = 'required' />
            <input type="number" name = 'Germany' placeholder="Germany" required = 'required' />
            <input type="number" name = 'Spain' placeholder="Spain" required = 'required' />
            <input type="number" name = 'Male' placeholder="Male" required = 'required' />

            <button type = "submit">Submit</button>
        </form>

    </body>



</html>